[user]
	name = DanGrae
	email = 77712567+DanGrae@users.noreply.github.com
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
